# Build artifacts
synnergy-network/synnergy
synnergy-network/bin
*.exe
*.out

# Build matrix output
dist/

# Node modules
node_modules/
*/node_modules/
**/node_modules/

# Logs
*.log
coverage.out
synnergy-network/internal/testutil/testdata/

# Environment variables
.env

